<div class="container-lg mt-4">
  <h4>Agregar notita</h4>
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input [(ngModel)]="nuevoTitulo" type="text" name="titulo" id="titulo" class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Ingrese aquí el titulo de su notita</small>
  </div>
  <div class="form-group">
    <label for="contenido">Contenido de la notita</label>
    <textarea [(ngModel)]="nuevoContenido" class="form-control" name="contenido" id="contenido" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary ml-auto" (click)="agregarNotita()">Agregar notita</button>

  <div class="row mt-4">
    <div class="col-lg-4 col-md-6" *ngFor="let notita of notitas">
      <app-notita [notita]="notita"></app-notita>
    </div>
  </div>
</div>